<div class="header-profile">
  <div class="avatar-profile-wrapper">
    <img src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg" alt="">
  </div>
  <div class="info-profile">
    <div class="info-profile-wrapper">
      <span class="profile-name">Avatar da Gama</span>
      <span class="data"><b>2,569</b> Following</span>
      <span class="data"><b>10.8K</b> Followers</span>
    </div>
    <span class="description">Photographer & Filmmaker based in Copenhagen, Denmark ✵ 🇩🇰</span>
  </div>
  <button>Follow</button>
</div>
