<div class="post">
  <div class="header-post">
    <div class="post-img-avatar-wrapper">
      <img
        src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg"
        alt="avatar 71x76px"
      />
    </div>
    <div class="wrapper-post-name-date">
      <span class="name-post">Jonh Doe</span>
      <span class="date-post">08 August 20:48</span>
    </div>
  </div>
  <div class="content-post">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, quidem
      necessitatibus saepe officia perferendis repellendus veritatis!
    </p>
    <img
      src="https://fastly.picsum.photos/id/620/600/600.jpg?hmac=L1KfieDyCvQ0XpbR_uJ3X6eUJLJ-ai8OQ7U6u75sIjQ"
      alt=""
    />
  </div>
  <div>
    <div class="info-tweet">
      <span>12 Comments</span>
      <span>2 Retweets</span>
      <span>1 Saved</span>
    </div>
    <mat-divider></mat-divider>
    <div class="actions-post">
      <button><i class="material-icons">chat_bubble_outline</i>Comment</button>
      <button><i class="material-icons">loop</i>Retweet</button>
      <button><i class="material-icons">bookmark_border</i>Like</button>
      <button><i class="material-icons">favorite_border</i>Save</button>
    </div>
    <mat-divider></mat-divider>
    <div class="comment-post">
      <div class="post-img-avatar-wrapper">
        <img
          src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg"
          alt="avatar 71x76px"
        />
      </div>
      <div class="comment-post-input">
        <input type="text" placeholder="Vasco da Gama" />
        <button>
          <i class="material-icons">photo</i>
        </button>
      </div>
    </div>
    <div *ngIf="reply">
      <mat-divider></mat-divider>
      <div class="comment-reply">
        <div class="post-img-avatar-wrapper">
          <img
          src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg"
          alt="avatar 71x76px"
        />
        </div>
        <div class="comment-reply-content">
          <div class="header">
            <span class="name">Bianca Sosa</span>
            <span class="date">24 August at 20:43</span>
          </div>
          <div>I’ve felt this pull many times, like while road tripping through Morocco. Seeking out the vastness of the desert, and looking inward at the same time.</div>
        </div>
      </div>
    </div>
  </div>
</div>
