<div class="create-post">
  <span class="create-post-title">Tweet something</span>
  <mat-divider></mat-divider>
  <div class="create-post-text-area-wrapper">
    <div class="post-img-avatar-wrapper">
      <img src="https://conteudo.imguol.com.br/c/entretenimento/80/2017/04/25/a-atriz-zoe-saldana-como-neytiri-em-avatar-1493136439818_v2_900x506.jpg" alt="">
    </div>
    <div class="create-post-right">
      <textarea class="create-post-text-area" placeholder="What’s happening?"></textarea>
      <div class="actions">
        <i class="material-icons">image</i>
        <i class="material-icons">public</i>
        <span>Everyone can reply</span>
        <button>Tweet</button>
      </div>
    </div>
  </div>
</div>
