.profile {
  .bg-profile {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .profile-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
}
