.explore-menu {
  background-color: #FFF;
  border-radius: 8px;
  padding: 1rem 0;
  position: relative;
  box-shadow: 0px 2px 4px 0px #0000000D;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;

      span {
        font-weight: 600;
        font-size: 14px;
        position: absolute;
        left: 1.5rem;
      }
    }
  }

  .active-border {
    width: 3px;
    height: 32px;
    background-color: #2F80ED;
    border-radius: 0px 4px 4px 0px;
  }
}
